@use '../../../../variables' as v;

.le_body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: calc(100vh - 20rem);
    gap: 7.6rem;
    margin-left: 7rem;

    .le_right {
        
        .title_icon {
            display: flex;
            align-items: center;
            justify-content: center;
            color: v.$title_purple;
            gap: 40px;

            #faBook {
                font-size: 45px;
            }

            h1 {
                font-size: 7rem;
                font-weight: 200;
            }
        }

        h2 {
            font-size: 24px;
            font-weight: 400;
            color: v.$text_gray;

            #red_text {
                color: v.$red_text;
            }
        }

        .login_btn {
            @include v.red_button;
            & {text-decoration: none};
        }

        .discord_icon {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 2.8rem;

            img {
                width: 60px;
            }

            h3 {
                font-size: 2rem;
                font-weight: 400;
                color: v.$text_gray;

                #purple_text {
                    color: v.$title_purple;
                }
            }
        }
    }
}

.end_border {
    @include v.end_border;
}