.journeys_body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    margin: 7.5rem 0 7.5rem 0;
    gap: 5rem;
    background-image: url('../../../assets/bg_journeys.png');
    background-size: cover;
    background-repeat: repeat;

    .journeys_container {
        display: flex;
        align-items: center;
        gap: 13rem;
        position: relative;
        z-index: 1;

        .journey_url {
            color: #000;
            text-decoration: none;
        }
    }
}