header {
    width: 100%;
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: linear-gradient(rgba(91, 81, 222, 0.2), #fff);
    padding: 0 4rem 0 4rem;

    .header_start {

        #educar_logo {
            transition: transform .2s;

            &:hover {
                cursor: pointer;
                transform: scale(1.1);
            }
        }
    }

    .header_center {
        display: flex;
        gap: 30px;

        #routing_url {
            text-decoration: none;
            font-size: 1.8rem;
            color: #000;
            font-weight: 500;
            transition: transform .2s;

            &:hover {
                transform: scale(1.1);
            }
        }
    }

    .header_end {

        .login_url {
            text-decoration: none;
            font-size: 1.8rem;
            font-weight: 500;
            color: #5B51DE;
            transition: transform .2s;

            &:hover {
                transform: scale(1.1);
            }

            #lpurple {
                text-decoration: none;
                color: #5B51DE;
            }
        }
    }
}