.j_m_body {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 91.7vh;
    padding: 7rem 7rem 0 7rem;
    background-image: url("../../../../assets/journeys/mexa_se.png");
    background-size: cover;

    h1 {
       align-self: flex-start;
       margin-left: 0;
       font-size: 4.6rem;
       color: #fff;
       margin-bottom: 1.5rem;
    }

    .j_m_container {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        background-color: #fff;
        border-radius: 20px 20px 0 0;
        padding: 3rem;
        width: 100%;
        height: 100%;

        .j_m_description {
            padding: 2.8rem;
            border-radius: 20px;
            box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.25);
            font-size: 1.8rem;
            line-height: 2;
        }

        h2 {
            font-size: 2.4rem;
        }

        .j_m_experiences {
            display: flex;
            gap: 8rem;
        }
    }
}